@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth; /*permite scroll suave*/
}
/*--FONDO COLOR--*/
body{
    overflow-x: hidden; /*permite ocultar la mala ubicacion del cover*/
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}

/*--HEADER--*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    font-family:'Luckiest Guy', cursive;
    font-size: 2rem;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
}
header ul li a:hover,
header ul li a.active {
    background: #fff;
    color:#2b1055;
} */

/*--SECTION E IMAGENES*/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;/*evita el boton se traslape con la sec2*/
}

/* --EFFECTS--*/
section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient( to top, #1c0522, transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}

/*--TEXTO CENTRAL--*/
#text{
    position: absolute;
    right: -300px; /*pendiente oculta el titulo*/
    color: #fff;
    white-space: nowrap;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    z-index: 9;
}

/*--BOTON EXPLORAR--*/
/* .btn{
    text-decoration:none;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);
} */

/*--SECCION RETOS--*/
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color:#fff;
}
.sec p{
    font-size: 2em;
    margin-bottom: 10px;
    color:#fff;
}